main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.puppy-image {
  width: 200px;
}

.puppy-container {
  margin: 5px;
  width: 250px;
  height: 500px;
  border: solid 2px grey;
  border-radius: 10%;
}
